doctype html
html
    head
        title K's Dance Academy
        block scripts
        block style 
    body
        nav#navbar.top.firstClass.secondClass
            ul 
                div#logo 
                    img(src="/static/images/logo.png")
                    |   KDA 
                li #[a(href="/") Home ]
                li #[a(href="/") About ]
                li #[a(href="/") Services ]
                li #[a(href="/") Locate Us ]
                li #[a(href="/contact") Contact Us]
        block content
        footer#footer 
            | Copyright © 2022 KsDanceAcademy.com | All rights reserved