//- index.pug
doctype html
html
    head
        title K's Dance Academy
        style
            include ../static/style.css
    body
        nav#navbar.top.firstClass.secondClass
            ul 
                div#logo 
                    img(src="/static/images/logo.png")
                    |   KDA 
                li #[a(href="/") Home ]
                li #[a(href="/") About ]
                li #[a(href="/") Services ]
                li #[a(href="/") Locate Us ]
                li #[a(href="/") Contact Us]
        section#introSection 
            div Welcome to K's Dance Academy
            div.small Rock n Roll Soniye
        section#missionSection 
            h2  Our Mission
            div.card
                h3 Make Everyone Dance
                div.card-box
                    div.card-img
                        img(src="/static/images/1.png")
                    div.card-content
                        p This is the best dance academy in your area
            div.card
                h3 Dance Perfection
                div.card-box
                    div.card-img
                        img(src="/static/images/2.png")
                    div.card-content
                        p This is the best dance academy in your area
            div.card
                h3 Reach Everyone Online
                div.card-box
                    div.card-img
                        img(src="/static/images/3.png")
                    div.card-content
                        p This is the best dance academy in your area
        section#sponsorSection 
            h2  Our Sponsors 
            div#sponsors
                img(src="/static/images/logo1.png" alt="sponsor Image" class="spImage")
                img(src="/static/images/logo2.png" alt="sponsor Image" class="spImage")
                img(src="/static/images/logo3.svg" alt="sponsor Image" class="spImage")
                img(src="/static/images/logo4.png" alt="sponsor Image" class="spImage")
                img(src="/static/images/logo5.png" alt="sponsor Image" class="spImage")
        footer#footer 
            | Copyright © 2022 KsDanceAcademy.com | All rights reserved
        script
            include ../static/index.js